.item {
  display: flex;
  align-items: center;
}

.name {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10px;
}

.button {
  margin-left: 20px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
}

.button:hover {
  background-color: rgb(17, 105, 219);
}
